<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="admin.dao.face.AdminDao">
  
  	<select id="selectTotal" resultType="int">
		SELECT count(*) FROM reportboard
	</select>
	
	  <select id="selectTotalSearch" resultType="int" parameterType="String">
		SELECT count(*) FROM reportboard WHERE reportdetail LIKE ('%${search}%')
	</select>
	
	<select id="selectTotalComment" resultType="int">
		SELECT count(*) FROM reportcomment
	</select>
  
	<select id="ReportBoardtselectAll" resultType="admin.dto.ReportBoard" parameterType="util.AdminPaging">
		SELECT re.* FROM (SELECT rownum rnum, B.* FROM (
		(SELECT boreportno, reportdetail, report_date AS reportDate, complete, r.userNo, m.userid, r.boardno, b.boardtitle
		FROM reportboard r, board b, member m
		WHERE r.boardno = b.boardno
		AND b.userno = m.userno
		ORDER BY boreportno DESC) B)) re WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	
	<select id="selectReportInfo" resultType="admin.dto.ReportBoard">
	SELECT boreportno, reportdetail, report_date AS reportDate, complete, r.userNo, m.userid, r.boardno, b.boardtitle
		FROM reportboard r, board b, member m
        WHERE r.boardno = b.boardno
        AND b.userno = m.userno
        AND boreportno = #{boreportno}
	</select>
	
	<select id="selectMember" resultType="member.dto.Member">
	SELECT * FROM MEMBER WHERE USERNO = #{userNo}
	</select>
	
	<select id="selectBoarduser" resultType="int">
	SELECT userno FROM Board WHERE boardno = #{boardno}
	</select>
	
	<select id="selectBoardDetail" resultType="board.dto.Board">
	SELECT boardno, boardtitle, content, write_date AS writedate, userno, boardtypeno FROM BOARD WHERE boardno = #{boardno}
	</select>
	
<!-- 	<delete id="DeleteReport"> -->
<!-- 	DELETE FROM REPORTBOARD where boreportno = #{deleteNo} -->
<!-- 	</delete> -->
	

	<select id="BlacklistselectAll" resultType="admin.dto.Blacklist" parameterType="util.Paging">
		SELECT *
		FROM (
		    SELECT rownum rnum, B.*
		    FROM (
		        SELECT blackno, blackdate, reason, userno
		        FROM blacklist
		        ORDER BY blackno DESC
		    ) B
		) 
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>

	
	<select id="selectObjectNo" resultType="int">
		SELECT SEQ_SHOP.NEXTVAL FROM DUAL
	</select>
	
	<insert id="insertObjectContent" parameterType="shop.dto.Shop">
		INSERT INTO SHOP (objectno, name, price, remain, shopcontent) VALUES (#{objectno},#{name},#{price},#{remain},#{shopcontent})
	</insert>
	
	<insert id="insertFile" parameterType="shop.dto.ShopFile">
		INSERT INTO SHOPFILE (fileno, originname, storedname, filesize, objectno) VALUES (seq_shopfile.nextval, #{originname},#{storedname},#{filesize},#{objectno})
	</insert>
	
	<select id="selectBoardNo" resultType="int">
		SELECT boardno FROM reportboard WHERE boreportno = #{deleteNo}
	</select>
	
	<update id="updateBoardtype" parameterType="int">
		UPDATE BOARD SET BOARDTYPENO = 5 WHERE BOARDNO = #{boardno}
	</update>
	
	<update id="updateReportComplete" parameterType="int">
		UPDATE reportboard SET COMPLETE = 'Y' WHERE boreportno = #{deleteNo}
	</update>
	
	<delete id="deleteBlacklist">
	DELETE FROM blacklist where blackno = #{blackNo}
	</delete>
	
	<insert id="insertBlacklist">
		INSERT INTO blacklist(blackno, blackdate, reason, userno)
		VALUES(seq_blacklist.nextval,CURRENT_DATE,#{reason},#{userno})
	</insert>

	<select id="MemberselectAll" resultType="member.dto.Member" parameterType="util.Paging">
			SELECT *
		FROM (
		    SELECT rownum rnum, A.*
		    FROM (
		        SELECT userno, username, userid, userpw, email,address, zipcode, phone, positionno
		        FROM member
		        ORDER BY userno DESC
		    ) A
		) 
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
		
	</select>
	
	
	<select id="MemberselectByKeyword" resultType="member.dto.Member" parameterType="hashmap">
			SELECT *
		FROM (
		    SELECT rownum rnum, A.*
		    FROM (
		        SELECT userno, username, userid, userpw, email,address, zipcode, phone, positionno
		        FROM member
		        where lower(username) LIKE lower('%${keyword}%')
		        ORDER BY userno DESC
		    ) A
		) 
		WHERE rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
		
	</select>
	
	<select id="ReportCommentselectAll" resultType="admin.dto.ReportComment" parameterType="util.AdminPaging">
		SELECT re.* FROM (SELECT rownum rnum, B.* FROM (
		(SELECT coreportno, reportdetail, report_date AS reportDate, complete, c.userNo, m.userid, c.commentno, ct.content
		FROM reportcomment c, commenttable ct, member m
		WHERE c.commentno = ct.commentno
		AND ct.userno = m.userno
		ORDER BY coreportno DESC) B)) re WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<select id="selectCommentNo" resultType="int">
		SELECT commentno FROM reportcomment WHERE coreportno = #{deleteNo}
	</select>
	
	<update id="updateReportComment" parameterType="int">
		UPDATE COMMENTTABLE SET CONTENT='관리자에 의해 삭제된 게시글입니다.' WHERE COMMENTNO = #{commentno}
	</update>
	
	<update id="updateReportCompleteComment" parameterType="int">
		UPDATE reportcomment SET COMPLETE = 'Y' WHERE coreportno = #{deleteNo}
	</update>
	
	<select id="selectReportInfoComment" resultType="admin.dto.ReportComment">
		SELECT coreportno, reportdetail, report_date AS reportDate, complete, c.userNo, m.userid, c.commentno, ct.content
		FROM reportcomment c, commenttable ct, member m
		WHERE c.commentno = ct.commentno
		AND ct.userno = m.userno
        AND coreportno = #{coreportNo}
	</select>
	
	<select id="selectCommentDetail" resultType="board.dto.CommentTable">
		SELECT commentno, content, write_date AS writedate, userno, refcommentno FROM COMMENTTABLE WHERE commentno = #{commentNo}
	</select>
	
	<select id="selectCommentuser" resultType="int">
		SELECT userno FROM CommentTable WHERE commentno = #{commentNo}
	</select>
	
	<select id="ReportBoardSearchselectAll" resultType="admin.dto.ReportBoard" parameterType="util.AdminPaging">
		SELECT re.* FROM (SELECT rownum rnum, B.* FROM (
        SELECT C.* FROM
		(SELECT boreportno, reportdetail, report_date AS reportDate, complete, r.userNo, m.userid, r.boardno, b.boardtitle
		FROM reportboard r, board b, member m
		WHERE r.boardno = b.boardno
		AND b.userno = m.userno
		ORDER BY boreportno DESC) C
        WHERE reportdetail LIKE ('%${search}%') ) B)
        re WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<select id = "SelectBytheme" resultType="admin.dto.Notice" parameterType="int">
	
		        SELECT noticeno,noticetitle,noticecontent,noticewritedate,userno
		        FROM notice
		        WHERE boardtypeno =  ${theme}
		        ORDER BY noticeno DESC
	
	</select>
	
</mapper>