<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="admin.dao.face.AdminShopDao">
  	<select id="selectShopTotalSearch" resultType="int" parameterType="String">
		SELECT count(*) FROM SHOP WHERE NAME LIKE ('%${search}%') OR SHOPCONTENT LIKE ('%${search}%')
	</select>
	
  	<select id="ShoptselectAll" resultType="shop.dto.Shop" parameterType="util.AdminPaging">
  		SELECT re.* FROM(SELECT rownum rnum, O.* FROM(SELECT * FROM SHOP ORDER BY OBJECTNO DESC) O) re WHERE rnum BETWEEN #{startNo} AND #{endNo}
  	</select>
  	
  	<update id="updateShop" parameterType="int">
		UPDATE SHOP SET DELETEOBJ = 0 WHERE OBJECTNO = #{deleteNo}
	</update>
	
	<select id="selectNextObj" resultType="int">
		SELECT SEQ_SHOP.NEXTVAL FROM DUAL
	</select>
	
	<insert id="insertShop" parameterType="shop.dto.Shop">
		INSERT INTO SHOP (objectno, name, price, remain, shopcontent, deleteobj)
		VALUES(#{objectno} ,#{name}, #{price}, #{remain}, #{shopcontent}, 1 )
	</insert>
	
	<insert id="insertShopFile" parameterType="shop.dto.ShopFile">
		INSERT INTO SHOPFILE (fileno, originname, storedname, filesize, objectno)
		VALUES(seq_shopfile.nextval, #{originname}, #{storedname}, #{filesize}, #{objectno} )
	</insert>
	
	<select id="selectShop" parameterType="int" resultType="shop.dto.Shop">
		SELECT * FROM SHOP WHERE OBJECTNO = #{objectno}
	</select>
	
	<select id="selectShopFile" parameterType="int" resultType="shop.dto.ShopFile">
		SELECT * FROM SHOPFILE WHERE OBJECTNO = #{objectno} ORDER BY FILENO
	</select>
	
	<select id="selectShopFileByFileno" resultType="shop.dto.ShopFile">
		SELECT * FROM SHOPFILE WHERE FILENO = #{e}
	</select>
	
	<delete id="deleteChangeFileOnDb" parameterType="int">
		DELETE FROM SHOPFILE WHERE FILENO = #{e}
	</delete>
	
	<update id="updateShopDetail" parameterType="shop.dto.Shop">
		UPDATE SHOP SET NAME = #{name}, 
		PRICE = #{price}, 
		REMAIN = #{remain}, 
		SHOPCONTENT = #{shopcontent} 
		WHERE OBJECTNO = #{objectno}
	</update>
  
  </mapper>