<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="shop.dao.face.ShopDao">

	<select id="countShop" resultType="int">
		select count(*) from shop		
	</select>
	
	<select id="selectAll" resultType="shop.dto.Shop" parameterType="util.ShopPaging">
		SELECT * FROM (
		    SELECT rownum rnum, B.* FROM (
		        SELECT * FROM shop
		        where deleteobj = 1
		        ORDER BY objectno DESC
		    ) B
		)
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectByObjno" resultType="shop.dto.Shop" parameterType="shop.dto.Shop">
		select * from shop
		where objectno = #{objectno} 
	</select>
	
	<insert id="insertBasket" parameterType="shop.dto.Basket">
		insert into basket 
		values ( seq_basket.nextval, #{quantity}, #{userno}, #{objectno} )
	</insert>
	
	<select id="checkBasket" resultType="int" parameterType="shop.dto.Basket">
		select count(*) from basket
		where userno = #{userno} and objectno = #{objectno}
	</select>
	
	<update id="updateBasket" parameterType="shop.dto.Basket">
		update basket set quantity = #{quantity} 
		where userno = #{userno} and objectno = #{objectno}
	</update>
	
	<select id="selectBasket" parameterType="shop.dto.Basket" resultType="hashmap">
		select a.* ,b.*
		from basket a
		inner join shop b
		on a.objectno = b.objectno
		where userno = ${userno}
	</select>
	
	<select id="basket" resultType="shop.dto.Basket" parameterType="shop.dto.Basket">
		select * from basket
		where userno = #{userno}
	</select>

	<select id="memberShop" resultType="member.dto.Member" parameterType="shop.dto.Basket">
		select * from member
		where userno = #{userno}
	</select>
	
	<select id="buyno" resultType="int">
		select SEQ_ORDERUSER.nextval from dual
	</select>
	
	<insert id="insertOrderUser" parameterType="shop.dto.OrderUser">
		insert into orderuser(buyno, buyername, buyeradd, buyerzip, buyerphone, complete, userno, buydate, buydetailaddress)
		values(#{buyno}, #{buyername}, #{buyeradd}, #{buyerzip}, #{buyerphone}, 'n', #{userno}, current_date, #{buydetailaddress})
	</insert>
	
	<insert id="insertOrderThing" parameterType="shop.dto.OrderThing">
		insert into OrderThing(buylistno, quantity, objectno, buyno)
		values(SEQ_ORDERTHING.nextval, #{quantity}, #{objectno}, #{buyno})
	</insert>
	
	<delete id="buyDeleteBasket" parameterType="shop.dto.Basket">
		delete from basket
		where userno = #{userno}
	</delete>
	
	<select id="selectDeleteBasket" resultType="shop.dto.Basket">
		select * from basket
		where userno = #{userno} and objectno = #{objectno}
	</select>
	
	<delete id="deleteBasket" parameterType="int">
		delete from basket
		where basketno = #{basketno}
	</delete>
	
	<select id="countReview" resultType="int">
		select count(*) from review
	</select>
	
	<select id="reviewList" resultType="hashmap" parameterType="shop.dto.Review" >
		SELECT R.*, M.* from review R
		INNER JOIN member M
		ON R.userno = M.userno
		where objectno = #{objectno}
	</select>
	
	
	
	
	
	
	
	
	
	
	
</mapper>