<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="member.dao.face.MemberDao">
  
  	<select id ="loginProc" resultType="int">
  		SELECT COUNT(*)
  		FROM member
  		WHERE userId=#{userId} AND userPw=#{userPw}
  	</select>
  
    <select id="selectDetailMember" resultType="member.dto.Member" parameterType="String">
  		SELECT username, userid, email
  		FROM member
  		WHERE userId=#{userId}
  	</select>
  	
  	<insert id="insertJoin" parameterType="member.dto.Member">
  		INSERT INTO member( userno, username, userid, userpw, email, address, zipcode, phone, detailaddress, positionno, latitude, longitude )
  		VALUES(seq_member.nextval, #{userName}, #{userId}, #{userPw}, #{email},  #{address}, #{zipCode}, #{phone}, #{detailaddress}, #{positionNo}, #{latitude}, #{longitude} )
  	</insert>
  	
  	
  	<select id="selectlogin" resultType="member.dto.Member" parameterType="member.dto.Member">
  		SELECT * FROM member
  		WHERE userId=#{userId}
  	</select>
  	
  	
  	 <select id ="selcetBlack" resultType="int">
  		SELECT COUNT(*)
  		FROM blacklist
  		WHERE userNo=#{userNo}
  	</select>
  	
  	 <select id ="selectKakao" resultType="int">
  		SELECT COUNT(*)
  		FROM member
  		WHERE suserno=#{suserno}
  	</select>
  	
  	<insert id="kakaoinsert" parameterType="member.dto.Member">
  		INSERT INTO member( userno, username, userid, userpw, email, address, zipcode, phone, detailaddress, positionno, latitude, longitude, suserno )
  		VALUES( seq_member.nextval, #{userName}, #{userId}, #{userPw}, #{email},  #{address}, #{zipCode}, #{phone}, #{detailaddress}, #{positionNo}, #{latitude}, #{longitude}, #{suserno}  )
  	</insert>
  	
<!--   	 <update id="upadatekakaoJoin" parameterType="member.dto.Member"> -->
<!--   		UPDATE member( username, userid, userpw, email, address, zipcode, phone, detailaddress, positionno, latitude, longitude ) -->
<!--   		SET( #{userName}, #{userId}, #{userPw}, #{email},  #{address}, #{zipCode}, #{phone}, #{detailaddress}, #{positionNo}, #{latitude}, #{longitude}  ) -->
<!--   		WHERE username = '카카오' -->
<!--   	</update> -->
  	
  	
<!--   	<select id ="loginProc" resultType="int"> -->
<!--   		SELECT COUNT(*) -->
<!--   		FROM sociallogin -->
<!--   		WHERE userId=#{userId} AND userPw=#{userPw} -->
<!--   	</select> -->
  	
  </mapper>