<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member.dao.face.UnregistDao">

	<select id="selectRegMember" resultType="int" parameterType="member.dto.Member">
		SELECT count(*) FROM MEMBER WHERE USERNO = #{userNo} AND USERPW = #{userPw}
	</select>

</mapper>