<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="message.dao.face.MessageDao">
	
	<select id="selectMemberByUserid" resultType="member.dto.Member" parameterType="string">
		SELECT userno, usernick FROM member
		WHERE userid = #{receiveuserid}
	</select>
	
	<select id="selectUseridByUserno" resultType="string" parameterType="int">
		SELECT userid FROM member
		WHERE userno = #{sendUserNo}
	</select>
	
	<insert id="insertMessage" parameterType="message.dto.Message">
		INSERT INTO message(messageno, content, send_date, doread, savemessage, receiveuserno, senduserno)
		VALUES (seq_message.nextval, #{content}, current_date, 'N', 'N', #{receiveUserNo}, #{sendUserNo})
	</insert>
	
	<select id="selectMessageListbyUserno" parameterType="message.dto.Message" resultType="hashmap">
		SELECT ms.*, mb.userid, mb.usernick FROM message ms, member mb
		WHERE 1=1   
		
		<choose>
			<when test='"Send".equals(doread)'>
				AND senduserno = #{receiveUserNo} AND mb.userno = ms.receiveuserno
			</when>
			<otherwise>
				AND receiveuserno = #{receiveUserNo} AND mb.userno = ms.senduserno
			</otherwise>
		</choose>
		
		<choose>
			<when test='"Y".equals(doread)'>
				AND doread = #{doread}
			</when>
				
			<when test='"N".equals(doread)'>
				AND doread = #{doread}
			</when>
		</choose>
		
		<if test='"Y".equals(saveMessage)'>
			AND savemessage = 'Y'
		</if>
		
		ORDER BY doread, messageno DESC
	</select>
	
	<select id="selectMessageByMessageNo" parameterType="message.dto.Message" resultType="message.dto.Message">
		SELECT * FROM message
		WHERE messageno = #{messageno}
	</select>
	
	<update id="updateMessageDoRead" parameterType="message.dto.Message">
		UPDATE message set doread = 'Y'
		WHERE messageno = #{messageno}
	</update>
	
	<update id="updateMessageSave" parameterType="message.dto.Message">
		UPDATE message 
		<if test='"N".equals(saveMessage)'>
		set savemessage = 'Y'
		</if>
		<if test='"Y".equals(saveMessage)'>
		set savemessage = 'N'
		</if>
		WHERE messageno = #{messageno}
	</update>
	
	<delete id="deleteMessageByMessageno" parameterType="message.dto.Message">
		DELETE message
		WHERE messageno = #{messageno}
	</delete>
	
	<insert id="insertMessageToAll" parameterType="message.dto.Message">
		INSERT INTO message(messageno, content, send_date, doread, savemessage, receiveuserno, senduserno)
			<foreach collection="list" item="message" separator="UNION ALL" >
				(SELECT get_seq_message(), #{content}, sysdate, 'N', 'N', #{message.receiveUserNo}, 91 FROM dual)
			</foreach>
	</insert>
	
	<delete id="deleteMessageThirtyDate">
	<![CDATA[
		DELETE message
		WHERE send_date + 30 <= sysdate
		AND savemessage != Y
	]]>	
	</delete>
	
	<select id="selectNormalUserList" resultType="message.dto.Message">
		SELECT userno as receiveuserno FROM member
		WHERE POSITIONNO = 1 OR POSITIONNO = 2
		ORDER BY userno DESC
	</select>
	
</mapper>