<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="main.dao.face.MainDao">
  	
  	
  	<select id="selectFree" resultType="board.dto.Board" parameterType="board.dto.Board">
  		SELECT rownum, b.boardNo, b.boardTitle, b.hit FROM
  			(SELECT * FROM board
  			WHERE boardtypeno = 2 
  			ORDER BY hit desc) b
  		WHERE rownum between 1 and 10
  	</select>
  	
  	<select id="selectOld" resultType="board.dto.Board" parameterType="board.dto.Board">
  		SELECT rownum, b.boardNo, b.boardTitle, b.hit FROM
  			(SELECT * FROM board
  			WHERE boardtypeno = 3 
  			ORDER BY hit desc) b
  		WHERE rownum between 1 and 10
  	</select>
  	
  	
  	
<!--   	<select id="selectNewFree" resultType="board.dto.Board" parameterType="board.dto.Board"> -->
<!--   		SELECT rownum, b.boardNo, b.boardTitle, b.hit FROM -->
<!--   			(SELECT * FROM board -->
<!--   			WHERE boardtypeno = 2  -->
<!--   			ORDER BY boardNo desc) b -->
<!--   		WHERE rownum between 1 and 10 -->
<!--   	</select> -->
  	
<!--   	<select id="selectNewOld" resultType="board.dto.Board" parameterType="board.dto.Board"> -->
<!--   		SELECT rownum, b.boardNo, b.boardTitle, b.hit FROM -->
<!--   			(SELECT * FROM board -->
<!--   			WHERE boardtypeno = 3  -->
<!--   			ORDER BY boardNo desc) b -->
<!--   		WHERE rownum between 1 and 10 -->
<!--   	</select> -->
  	
  	
  	<select id="selectHospitalAllCnt" parameterType="util.HospitalPaging" resultType="int">
		SELECT count(*)
		FROM hospital
		WHERE hospitalName like '%'||#{search}||'%'
		<if test="birds.equals('y')">
			AND birds = 'y'
		</if>
		<if test="rodent.equals('y')">
			AND rodent = 'y'
		</if>		
		<if test="reptile.equals('y')">
			AND reptile = 'y'
		</if>
		<if test="mammalia.equals('y')">
			AND mammalia = 'y'
		</if>
	</select>
  	
 	<select id="selectHospitalAll" parameterType="util.HospitalPaging" resultType="map">
		SELECT * 
		FROM (
    		SELECT rownum rnum, B.* from( 
        		SELECT hospital.hospitalNo, hospitalName, mammalia, reptile, rodent, birds
                        , open, close, member.userNo, address, phone
                        , originName, storedName
        		FROM hospital, member, hospitalFile
        		WHERE hospital.userNo = member.userNo
        		AND hospital.hospitalNo = hospitalFile.hospitalNo
            	AND hospitalName like '%'||#{search}||'%'
            	 <if test="birds.equals('y')">
					AND birds = 'y'
				</if>
				<if test="rodent.equals('y')">
						AND rodent = 'y'
				</if>		
				<if test="reptile.equals('y')">
						AND reptile = 'y'
				</if>
				<if test="mammalia.equals('y')">
					AND mammalia = 'y'
				</if>
				ORDER BY member.userNo
    		)B
		)
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
  	
  	
  	 <select id ="selectDoread" resultType="int" parameterType="message.dto.Message">
       	SELECT COUNT(*)
  		FROM message
  		WHERE DOREAD = 'N' AND receiveUserNo = #{receiveUserNo}
  	</select>
  	
  	
  	<select id="selectPoom" resultType="board.dto.Board" parameterType="board.dto.Board">
  		SELECT rownum, b.boardNo, b.boardTitle, b.hit FROM
  			(SELECT * FROM board
  			WHERE boardtypeno = 1 
  			ORDER BY boardNo desc) b
  		WHERE rownum between 1 and 3
  	</select>
  	
  	<select id="selectPoomPhoto" parameterType="int" resultType="board.dto.BoardFile">
  		SELECT rownum, b.* FROM(SELECT * FROM boardFile
  		WHERE boardno = #{boardNo}) b
  		WHERE rownum = 1
  	</select>

  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  </mapper>